.cust_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
}

.cust_table th,
.cust_table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.cust_table th {
  background-color: #f4f4f4;
  cursor: pointer;
}
